@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&family=Gothic+A1:wght@100;200;300;400;500;600&display=swap');

body {
    background: #333;
    color: #fff;

    font-family: 'Anek Latin', sans-serif;
    font-family: 'Gothic A1', sans-serif;
}

.App {
    width: 1200px;
    text-align: center;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;

}

.form {
    width: min-content;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;

    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #999;

}

a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-top: 50px;
    font-style: italic;
    transition: 0.6s;
}

a:hover {
    color: lightgreen;
    transition: 0s;
}

/* TABELA */

.table-container {

    margin: 0 auto;
    width: min-content;
    padding-bottom: 20px;
}
table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}
th {
    text-align: center;
}
thead th {
    background-color: #55608f;
}
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
    position: relative;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}