@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&family=Gothic+A1:wght@100;200;300;400;500;600&display=swap');

body {
    background: #333;
    color: #fff;

    font-family: 'Anek Latin', sans-serif;
    font-family: 'Gothic A1', sans-serif;
}

.App {
    width: 1200px;
    text-align: center;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;

}

.form {
    width: min-content;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;

    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #999;

}
table {
    margin: 0 auto;

}

a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-top: 50px;
    font-style: italic;
    transition: 0.6s;
}

a:hover {
    color: lightgreen;
    transition: 0s;
}